.timeline-element {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #9b8b7b, #e1d7cd);
}

.timeline-element-empty {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #9b8b7b, #e1d7cd);
}

.timeline-element-section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-section {
  justify-content: flex-end;
}

.background-styled-divider {
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.3);
  position: absolute;
}

.element-wrapper {
  display: flex;
  padding-right: 30px;
  margin-top: 15px;
}

.element-wrapper p {
  font-size: 12px;
}

.image-wrapper {
  padding-right: 20px;
  align-items: flex-end;
  display: flex;
  height: 150px;
  width: 60%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text-year {
  margin: 0
}

.timeline-line {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.timeline-tick {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 30px;
  position: relative;
  bottom: 15px;
}

.timeline-tick-year {
  margin: 0
}